<!-- NAVBAR ================================================== -->
    <div class="top-bar">
      <div class="container clearfix">
        <ul class="social" style="background-image:none; background-color:transparent; ">
          <li><a href="/register" class="">Register</a></li>
          <li><a href="/login-fb" class="fb">Login with Facebook</a></li>
	  <li><a href="/login" class="">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top clearfix" role="navigation">
            <div class="navbar-header clearfix">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1><a class="navbar-brand" href="/">Run Forever</a></h1>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/news">News</a></li>
                <li><a href="/running_quotes">Quotes</a></li>
		<li><a href="/slideshows">Slideshows</a></li>
		<li><a href="/running_films">Films</a></li>
                <li><a href="/running_articles">Articles</a></li>
                <li><a href="/running_gear">Gear Reviews</a></li>
             
		<li><a href="/running_events">Races & Events</a></li>
               
              </ul>
            </div>
        </div>
      </div>
    </div>
